<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between-flex align-center">
        <a href="/" class="logo">Book App</a>
        <nav class="nav">
          <ul class="flex align-center">
            <li><a href="/author">List Of Author</a></li>
            <li><a href="/book">List of Book</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="padding">
        <div class="container">
          <h1 class="primary-heading text-center">Author List</h1>
          <% data.forEach(element => { %>
          <div class="card authorBox">
            <p><%= element.name %></p>
            <a href="/book/<%= element._id %>/author" class="btn">Add Book</a>
            <a href="/book/<%= element._id%>/listBook" class="btn"
              >Book Collections</a
            >
          </div>
          <% }) %>
        </div>
      </section>
    </main>
  </body>
</html>
