html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.justify-between-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-template-col-3 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gap {
  gap: 2rem;
}

a {
  text-decoration: none;
}

.padding {
  padding: 5rem 0;
}

form {
  width: 45%;
  margin: 4rem auto;
}

form label {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.form-control {
  display: block;
  width: 100%;
  padding: 1.25rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.45rem;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4), 0 -4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4), 0 -4px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

button {
  padding: 1rem;
  background: rgba(165, 42, 42, 0.4);
  margin-top: 1rem;
  border: 1px solid black;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.6rem;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 20px rgba(165, 42, 42, 0.4);
          box-shadow: 0 8px 20px rgba(165, 42, 42, 0.4);
}

.primary-heading {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

header {
  padding: 1.5rem;
  background-color: rgba(123, 174, 219, 0.5);
}

header .logo {
  font-size: 2rem;
  color: brown;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0 -4px 5px rgba(165, 42, 42, 0.5);
}

header .nav li {
  margin-left: 2rem;
}

header .nav li a {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

main .card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.25rem;
}

main .card h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

main .card div {
  margin-bottom: 1rem;
}

main .card .btn {
  padding: 1rem;
  display: inline-block;
  background-color: black;
  color: wheat;
  border-radius: 0.45rem;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

main .card .btn :hover {
  background-color: white;
  color: white;
}

.authorBox {
  margin-bottom: 2rem;
}

.authorBox p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.font-0 {
  font-size: 0;
  width: 50%;
  margin: 0 auto;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.book-detail .container div {
  margin-bottom: 1rem;
}

.book-detail .container h2 {
  border-bottom: 1px solid black;
}

.book-detail .container h3 {
  font-size: 1.5rem;
}

#index section p {
  font-size: 1.5rem;
  font-weight: 600;
}

#index section a {
  font-size: 1.25rem;
  display: inline-block;
  padding: 1rem;
  background-color: cadetblue;
  margin-top: 2rem;
  border-radius: 0.45rem;
  color: beige;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}