<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/articles" method="POST">
     <input type="text" name="title" placeholder="Add Title">
     <input type="text" name="description" placeholder="Add Description">
     <input type="text" name="tags" placeholder="Add tags">
     <input type="text" name="author" placeholder="Add Author">
     
     <button type="submit">
         Add Article
     </button>
    </form>
</body>
</html>