<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Comment update</h2>
    <form action="/comments/<%= comment._id %> " method="POST">
     <textarea name="content"  cols="30" rows="10" placeholder="Update comment">
         <%= comment.content %> 
     </textarea>
     <button type="submit">update comment</button>
    </form>
</body>
</html>